@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");

:root {
  --orange: rgb(1, 9, 56);
  --blue: rgb(8, 0, 7);

  --primary: var(--blue);
}
.bg-pcw {
  background-color: var(--primary);
}
.color-pcw {
  color: var(--primary);
}
.nunito {
  font-family: "Nunito Sans", sans-serif;
}
.logo {
  height: 60px;
}

main a,
#TableOfContents a {
  color: var(--primary) !important;
  text-decoration: none;
}
